<%= form_for @product do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :battlife_month %><br />
    <%= f.text_field :battlife_month %>
  </p>
  <p>
    <%= f.label :battlife_year %><br />
    <%= f.text_field :battlife_year %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p><%= f.submit %></p>
<% end %>
