<% title "Product" %>
<% for product in @products %>
	<h1><%= product.name %></h1>
	<p>
	<strong>Name:</strong>
	<%= product.name %>
</p>

	<% if current_user && current_user_product %>
		<%= link_to "Edit", edit_product_path(product) %>
			<%= button_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %>
		<%= link_to "View All", products_path %>
		<% elsif %>
			<%= link_to "View All", products_path %>
	<% end %>
<% end %>


