<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
   	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<link href = 'http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href = 'http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
 	<div id="abl-user-bar" class="clearfix">
	<% if logged_in? %>
	<div id="abl-user-welcome" class="left">
	  <span id="abl-user-welcome-msg">Welcome <%= current_user.username %>! Not you?</span>
	  <%= link_to "Log out", logout_path %>
	</div>
	<ul id ="abl-user-controls" class="right">
	  	<li><%= link_to "Edit Profile", edit_current_user_path %></li>
		<li><%= link_to "My Products", products_of_current_user_path(current_user.username) %></li>
	  	<li><%= link_to "+ New Review", new_product_path , :class => "abl-call-action-btn"%></li>
	</ul>
	<% else %>
	 	<div id = "abl-signup-signin" class="right">
	  	<%= link_to "Sign up", signup_path %> or
	  	<%= link_to "Log in", login_path %>
		</div>
	<% end %>
	</div>
    <div id="abl-container" class="center-75">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class=>"center-75" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
